// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Declare here both custom (own) and bootstrap's variables which we wish to
// redefine.
// These will not be reassigned in bootstrap because it is default.
$grid-breakpoints: (
    xs: 0,
    sm: 560px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$font-family-monospace: "Fira Mono", "Monaco", "Consolas", "Lucida Console", monospace;
$code-font-size: 92%;
$code-color: $gray-900;

$custom-body-color: #606060;
$custom-body-color-light: #909090;
$custom-body-color-superlight: #efefef;

$custom-code-border-color: #c2c2c2;
$custom-code-bg-color: #f2f2f2;

$custom-line-height: $line-height-lg * 0.95;
$custom-line-height-sm: $line-height-lg;

$custom-xs-to-sm-min-img-width-landscape: 80%;
$custom-xs-to-sm-min-img-width-portrait: 65%;

$custom-code-bold-weight: 500;

$img-landscape: (
    xs: 98%,
    sm: 95%,
    md: 92%,
    lg: 92%,
    xl: 90%,
);

$img-portrait: (
    xs: 85%,
    sm: 73%,
    md: 69%,
    lg: 66%,
    xl: 66%,
);

// Padding / margin for flex grid on extra-small devices (xs to sm).
$custom-xs-grid-padding: 0.45rem;

// This goes AFTER everything
@import "node_modules/bootstrap/scss/bootstrap";

// ADD NOTHING here (bootstrap import must go last here).
