// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 560px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@import "node_modules/bootstrap/scss/bootstrap";

$custom-body-color: #606060;
$custom-body-color-light: #909090;
$custom-body-color-superlight: #EFEFEF;

$custom-line-height: $line-height-lg * 0.95;
$custom-line-height-sm: $line-height-lg;

body {
  margin-top: 1rem;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $custom-body-color;
  line-height: $custom-line-height;

  @include media-breakpoint-up(sm) {
    line-height: $custom-line-height-sm;
  }
}

ul, ol {
  padding-left: 1.3rem;

  @include media-breakpoint-up(sm) {
    padding-left: 1.8rem;
  }

  ul, ol {
    padding-left: .9rem;

    @include media-breakpoint-up(sm) {
      padding-left: 1.4rem;
    }
  }
}

/*Set max width for large screens*/
.container {
  @include media-breakpoint-up(sm) {
    max-width: map-get($grid-breakpoints, sm) - 20px;
  }

  @include media-breakpoint-up(md) {
    max-width: map-get($grid-breakpoints, md) - 20px;
  }

  @include media-breakpoint-up(lg) {
    max-width: map-get($grid-breakpoints, lg) - 170px;
  }
}

/* Change margin and paddings for grid for mobile devices to more compact ones*/
@include media-breakpoint-between(xs, sm) {
  .container {
    width: 100%;
    padding-right: .3rem;
    padding-left: .3rem;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-right: auto;
    margin-left: auto;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: .2rem;
    padding-left: .2rem;
    margin-right: auto;
    margin-left: auto;
  }
}

/* The font-size defined here will be used as 1rem for all the descendants.
This is by def of 1rem. */
:root {
  font-size: .85rem;
  @include media-breakpoint-up(sm) {
    font-size: .93rem;
  }
}

/*Smaller sizes for headings (need it since Jekyll has a hard-coded
translation into h1...h6 as opposed to standard bootstrap ones.*/

h1, .h1 {
  font-size: 1.9rem;
}

h2, .h2 {
  font-size: 1.7rem;
}

h3, .h3 {
  font-size: 1.4rem;
}

h4, .h4 {
  font-size: 1.22rem;
}

h5, .h5 {
  font-size: 1.15rem;
}

h6, .h6 {
  font-size: 1rem;
  font-style: italic;
}

/* Adding standard illustration classes to markup */
%img-shared {
  display: block;
  margin: 0 auto;
}

$img-landscape: (
  xs: 98%,
  sm: 93%,
  md: 90%,
  lg: 90%,
  xl: 90%
);

$img-portrait: (
  xs: 85%,
  sm: 75%,
  md: 70%,
  lg: 70%,
  xl: 70%
);

/* This is the container for a one-column text blanket. We increase its
font and make necessary adjustments. */
.main-text-container {
  font-size: 1.05rem;
  @include media-breakpoint-up(md) {
    font-size: 1.1rem;

    padding-right: 20px;
    padding-left: 20px;
  }

  .img-landscape {
    @extend %img-shared;

    @include media-breakpoint-up(xs) {
      width: map-get($img-landscape, xs);
    }

    @include media-breakpoint-up(sm) {
      width: map-get($img-landscape, sm);
    }

    @include media-breakpoint-up(md) {
      margin-top: 1rem;
      width: map-get($img-landscape, md);
    }
  }

  .img-landscape-bleed {
    @extend %img-shared;

    @include media-breakpoint-up(xs) {
      width: map-get($img-landscape, xs);
    }

    @include media-breakpoint-up(sm) {
      width: map-get($img-landscape, sm);
    }

    @include media-breakpoint-up(md) {
      margin-top: 1rem;
      width: 1.4 * map-get($img-landscape, md);
      margin-left: -0.7 * map-get($img-landscape, md) + 50%;
    }
  }

  .img-portrait {
    @extend %img-shared;

    @include media-breakpoint-up(xs) {
      width: map-get($img-portrait, xs);
    }

    @include media-breakpoint-up(sm) {
      width: map-get($img-portrait, sm);
    }

    @include media-breakpoint-up(md) {
      width: map-get($img-portrait, md);
    }
  }

  ul, ol {
    padding-left: 1.5rem;

    @include media-breakpoint-up(sm) {
      padding-left: 2.8rem;
    }

    ul, ol {
      padding-left: .9rem;

      @include media-breakpoint-up(sm) {
        padding-left: 1.7rem;
      }
    }
  }

  figcaption {
    display: block;
    margin: 0 auto;
    font-style: italic;
    font-size: .92rem;
    width: 85%;
  }

  figure {
    margin-bottom: 1rem;
  }

  /* Headers padding */

  @include media-breakpoint-up(sm) {
    h1, h2, .h1, .h2 {
      margin-top: 2rem;
    }

    h3, h4, .h3, .h4 {
      margin-top: 1.5rem;
    }
  }
  /* Blockquotes */
  blockquote {
    border-left: 2px solid $custom-body-color-light;
    margin: 0 0 1rem 1px;
    padding: 0rem .2rem 0rem .5rem;
    font-weight: $font-weight-light;

    @include media-breakpoint-up(sm) {
      padding-left: 1rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .video-embed {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  /* Scaling maths for small devices */
  @include media-breakpoint-only(xs) {
    .MJXc-display {
      font-size: 90%;
    }
  }
}

/* Button style for tags etc. */
$btn-xsm-font: .8rem;

.btn-xsm {
  padding: 0.1rem .3rem;
  font-size: $btn-xsm-font;
  line-height: 1.1rem;
  border-radius: 0.2rem;
  border-width: .5px;
}

.btn-tag, .btn-language, .btn-year {
  color: color("blue");
  background-color: #fff;
  border-color: color("blue");
}

.btn-tag:hover, .btn-tag:active, .btn-tag.active,
.btn-language:hover, .btn-language:active, .btn-language.active,
.btn-year:hover, .btn-year:active, .btn-year.active {
  color: #fff;
  background-color: color("blue");
  border-color: color("blue");
}

.btn-tag::before {
  content: '\f02b';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: $btn-xsm-font * .9;
  line-height: 1rem;
  margin: 0rem .3rem 0rem 0rem;
  padding: 0;
  text-decoration:none;
}

.btn-language::before {
  content: '\f0ac';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: $btn-xsm-font * .9;
  line-height: 1rem;
  margin: 0rem .3rem 0rem 0rem;
  padding: 0;
  text-decoration:none;
}

.btn-year::before {
    content: '\f073';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: $btn-xsm-font * .9;
    line-height: 1rem;
    margin: 0rem .3rem 0rem 0rem;
    padding: 0;
    text-decoration:none;
}


/* Adding hover to nav-buttons */
.nav-pills .nav-link {
  color: $custom-body-color;
  background-color: $white;
  margin-left: 1px;
  margin-right: 1px;
  padding: .2rem .4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  @include media-breakpoint-up(sm) {
    padding: .4rem .7rem;
  }
}

.nav-pills .nav-link.active {
  color: $white;
  background-color: $custom-body-color;
}

.nav-pills .nav-link:not(:active):not(.active):hover{
  color: $white;
  background-color: $custom-body-color-light;
}

/* For header of the site */
#site-header-title {
  a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
  }
}

/* Abbreviations */
abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  background-color: $custom-body-color-superlight;
  border-radius: 0.25rem;
  border: .5px dotted;
  border-color: $custom-body-color-light;
  padding-left: .2rem;
  padding-right: .2rem;
}

/* Language tag when enumerating posts */
.post-language {
  border-radius: 0.2rem;
  background-color: $custom-body-color-superlight;
  border: .5px dotted;
  border-color: $custom-body-color-light;
  padding: 0rem .4rem .1rem .4rem;
}

.post-language::before {
  content: '\f0ac';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 90%;
  line-height: 1.1rem;
  margin: 0rem .3rem 0rem 0rem;
  padding: 0;
  text-decoration:none;
  color: $custom-body-color-light;
  background-color: $custom-body-color-superlight;
}

/* Tag when enumerating posts */
.post-tag {
  border-radius: 0.2rem;
  background-color: $custom-body-color-superlight;
  border: .5px dotted;
  border-color: $custom-body-color-light;
  padding: 0rem .4rem .1rem .4rem;
}

.post-tag::before {
  content: '\f02b';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 90%;
  line-height: 1.1rem;
  margin: 0rem .3rem 0rem 0rem;
  padding: 0;
  text-decoration:none;
  color: $custom-body-color-light;
  background-color: $custom-body-color-superlight;
}

/* Footnotes style as generated by Goldmark.
Kramdown generates <p> so we have to deal with that by using tricks from
https://stackoverflow.com/questions/45462642/handling-paragraphs-inside-list-items-with-a-custom-css-content
*/

$custom-footnote-width: 2.1rem;

a.footnote-ref {
  @include media-breakpoint-up(sm) {
    font-size: $small-font-size;
  }
}

a.footnote-ref::before {
 content: "[";
}

a.footnote-ref::after {
    content: "]";
}

.footnotes ol {

  counter-reset: item;
  margin-left: 0;
  padding-left: 0;

  @include media-breakpoint-up(sm) {
    font-size: $small-font-size;
  }

  li {
    position: relative;
    margin-left: $custom-footnote-width;
    list-style-type: none;
  }

  li::before {
      position: absolute;
      counter-increment: item;
      content: "[" counter(item) "]";
      text-indent: -$custom-footnote-width;
    }

  p {
    margin-bottom: 0.25rem;
  }

  /*
    Goldmark does not have configurable revers-footnote-links, so hacking it, see
    https://stackoverflow.com/questions/7896402/how-can-i-replace-text-with-css
  */
    a.footnote-backref {
        visibility: hidden;
        position: relative;
    }
    a.footnote-backref::after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: '\2303';
    }

    a.footnote-backref:hover::after {
        text-decoration: underline;
    }

}

