<title>{{ .Title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content="{{ .Title }}"/>
<meta name="title" content="{{ .Title }}"/>
<meta name="author" content="Alexey Gronskiy"/>

<!-- OpenGraph Properties -->
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:description" content="{{ .Summary | plainify }}"/>
<meta property="og:site_name" content="Alexey Gronskiy"/>
<meta property="og:image" content="
  {{- with .Params.thumbnail }}
    {{- . }}
  {{- else }}
    {{- if fileExists `/static/default-thumbnail.jpg` -}}
        /default-thumbnail.jpg
    {{- else }}
        {{- errorf `[From %v] File could not be found %v` .Page.File.Path `/static/default-thumbnail.jpg` }}
    {{- end }}
  {{- end }}"/>

<!-- Twitter Properties -->
<meta name="twitter:card" content="{{.Title}}"/>
<meta name="twitter:title" content="{{.Title}}"/>
<meta name="twitter:description" content="{{ .Summary }}"/>

<!-- Google Authorship -->
<a rel="author" href="https://plus.google.com/u/0/100694244192184027539"></a>

<link rel="icon" href="favicon.ico">

<link rel="alternate" href="{{ .Permalink | absURL }}" hreflang="x-default" />
<link rel="alternate" href="{{ .Permalink | absURL }}" hreflang="{{ .Lang }}" />

<!-- RSS -->
{{ with .OutputFormats.Get "RSS" -}}
<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml"
    title="{{ printf `%s - RSS` $.Title }}" />
<link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml"
    title="{{ printf `%s - RSS` $.Title }}"/>
{{ end -}}

<!-- highligh.js -->
{{- if isset .Params "hljs" | and (eq (.Param "hljs") true) }}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/stackoverflow-light.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{- end -}}

<!-- MathJax support -->
{{- if isset .Params "mathjax" | and (eq (.Param "mathjax") true) }}
<script>
window.MathJax = {
  tex: {
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
    processEscapes: true,
    tagSide: "right",
    tagIndent: "1rem",
    multlineWidth: "85%",
    tags: "ams"
  },
  options: {
    skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  chtml: {
    scale: 0.9
  },
  svg: {
    fontCache: 'global',        // or 'local' or 'none'
    scale: 0.9,                // global scaling factor for all expressions
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

{{ end }}
