
<!-- Lightbox -->
<script src="/lightbox/js/lightbox-plus-jquery.js"></script>
<script>
lightbox.option({
      'resizeDuration': 100,
      'fadeDuration': 100,
      'imageFadeDuration': 100
    })
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111679868-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111679868-1');
</script>