{{ $url := .Get "url"}}

<figure>
  <div class="img-landscape">
    <div class="video-embed">
      <iframe src="{{ $url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  {{ if isset .Params "caption" }}
  {{/* NOTE(agronskiy) We must utilize a newlines inside figcaption to process it as
        Markdown due to specs */}}
  <figcaption class="font-italic mt-1" markdown="span">

  {{ .Get "caption" | markdownify }}

  </figcaption>
  {{ end }}
</figure>

