{{ $url := .Get "url"}}

{{- if and (isset .Params "bleed") (eq (.Get "bleed") "true") -}}
  {{- .Scratch.Set "img_class" "img-landscape-bleed" -}}
{{- else -}}
  {{- .Scratch.Set "img_class" "img-landscape" -}}
{{- end -}}
{{ $img_class := .Scratch.Get "img_class" }}

<figure class="video">
  <div class={{ $img_class }}>
    <div class="video-embed">
      <iframe src="{{ $url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  {{ if isset .Params "caption" }}
  {{/* NOTE(agronskiy) We must utilize a newlines inside figcaption to process it as
        Markdown outside */}}
  <figcaption class="imgcaption font-italic mt-1" markdown="span">

{{ .Get "caption" | markdownify }}

  </figcaption>
  {{ end }}
  </div>
</figure>

